:root {
	background-color: hsl(36, 100%, 99%);

	box-sizing: border-box;
}
body {
	/* border: 1px transparent; */
	box-shadow: 1px 2px 20px 2px black;
	padding: 5rem;
	margin: 3rem;
	box-shadow: 0;

	padding: 15px;
	margin: 0rem;
}

.menu_icon {
	display: none;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	row-gap: 5rem;
	align-items: center;
	width: 100%;
	position: fixed;
	left: 10px;
	top: 3px;
	background-color: hsl(36, 100%, 99%);
}
.nav {
	width: 40%;
	height: inherit;
}
.nav > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: hsl(236, 13%, 42%);
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
.nav > ul > li:hover {
	color: hsl(236, 13%, 25%);
}
.nav > ul > li:active {
	color: hsl(35, 77%, 62%);
}
.nav > ul > li > a {
	text-decoration: none;
	color: black;
}
.nav_toggle {
	opacity: 0;
	visibility: hidden;
}

main {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	/* justify-content: space-between; */
	gap: 2.5rem;
	flex-wrap: wrap;
}

.headline {
	display: flex;
	flex-direction: row;
	width: 100%;
	/* height: 50%; */
	justify-content: space-between;
	margin-top: 54px;
	/* gap: 5rem; */
}
.main_heading {
	display: flex;
	flex-direction: column;
	width: 68%;
	height: inherit;
}
.main_heading > picture {
	width: 100%;
	height: 90%;
	overflow: hidden;
}
.main_heading > picture > img {
	width: 100%;
	height: inherit;
}
.new_news {
	display: flex;
	flex-direction: column;
	width: 26%;
	height: inherit;
	background-color: hsl(240, 100%, 5%);
	color: hsl(36, 100%, 99%);
	padding: 1.4rem;
}
.new_news > h2 {
	color: hsl(35, 77%, 62%);
	font-size: xx-large;
	margin-top: 0;
	font-family: "Inter", sans-serif;
	font-weight: 700;
}
.new_news > div > p {
	color: hsl(236, 13%, 42%);
	font-size: 15px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
}
.new_news > div > h3 {
	font-family: "Inter", sans-serif;
	color: hsl(36, 100%, 99%);
}
.new_news > div > h3:hover {
	color: hsl(30, 3%, 76%);
}
.new_news > div > h3:active {
	color: hsl(35, 77%, 62%);
}
.new_news > div {
	border-bottom: 1px solid hsl(236, 13%, 42%);
}
.new_news > div:last-child {
	border: none;
}

.card_description {
	display: inherit;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
}
.card_description > h1 {
	/* line-height: 20px; */
	width: 45%;
	margin: 0;
	font-size: 49px;
	font-weight: 800;
	font-family: "Inter", sans-serif;
}
.card_description > p {
	width: 48.5%;
	margin: 0;
	color: hsl(236, 13%, 42%);
	font-size: 15px;
	font-weight: 400;
	font-family: "Inter", sans-serif;
}
.card_description > p > a {
	font-style: normal;
	display: block;
	margin-top: 51px;
	width: 120px;
	height: 20px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	background-color: hsl(5, 85%, 63%);
	color: hsl(36, 100%, 99%);
	letter-spacing: 3px;
}
.card_description > p > a:hover {
	background-color: hsl(5, 68%, 48%);
}
.card_description > p > a:active {
	background-color: hsl(240, 100%, 5%);
}
.topnews {
	width: 100%;
	height: 10rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.topnews > div {
	display: inherit;
	width: 31%;
	height: inherit;
	justify-content: space-between;
	overflow: hidden;
}
.topnews > div > img {
	height: inherit;
}
.topnews > div > p {
	width: 60%;
	margin-top: 0;
	height: inherit;
	line-height: 1.4rem;
	color: hsl(236, 13%, 42%);
	font-size: 15px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
}
span,
strong {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: "Inter", sans-serif;
}
span {
	font-size: x-large;
	font-weight: 700;
}
strong {
	color: black;
	font-weight: 700;
	font-size: large;
}
strong:active {
	color: hsl(5, 85%, 63%);
}
@media screen and (max-width: 375px) {
	.menu_icon {
		display: inline;
	}

	header {
		display: flex;
		justify-content: space-between;
		height: inherit;
	}

	.nav {
		width: 70%;
		top: 0px;
		height: 100%;
		position: fixed;
		background-color: hsl(36, 100%, 99%);
		overflow: hidden;
		left: 30%;
	}
	.nav {
		max-height: 0;
		transition: max-height 0.5s ease-out;
	}
	.nav > ul {
		width: inherit;
		height: 30%;
		flex-direction: column;
		list-style: none;
		text-decoration: none;
		position: absolute;
		top: 30%;
		left: 22%;
		right: 50%;
		align-items: center;
		justify-content: space-between;
		/* overflow: none; */
		/* background-color: aqua; */
	}

	.nav > ul > li {
		display: flex;
		flex-direction: column;
	}
	.hamb {
		width: 40px;
		display: inline-block;
	}
	.nav_toggle {
		display: inline-block;
		height: 60px;
		visibility: hidden;
	}
	.nav_icon {
		margin-top: 20px;
		display: block;
		width: 20px;
		height: 3px;
		cursor: pointer;
		position: relative;
		transition: background 0.5s ease-out;

		background-color: rgb(3, 13, 3);
	}
	.nav_icon::before,
	.nav_icon::after {
		position: absolute;
		width: inherit;
		height: 100%;
		z-index: 1;
		content: "";
		display: block;

		background-color: red;
	}
	.nav_icon::after {
		top: 5px;
		transition: transform 0.5s ease-out;
	}
	.nav_icon::before {
		top: -5px;
		transition: transform 0.5s ease-out;
	}
	.nav_toggle:checked ~ .nav {
		max-height: 100%;
	}
	.nav_toggle:checked ~ .hamb .nav_icon {
		background: transparent;
	}
	.nav_toggle:checked ~ .hamb .nav_icon:before {
		transform: rotate(-45deg);
		transition: transform 0.5s ease-in-out;

		top: 0;
		background-color: rgb(13, 9, 3);
	}
	.nav_toggle:checked ~ .hamb .nav_icon::after {
		transform: rotate(45deg);
		transition: transform 0.5s ease-out;

		top: 0;
		background-color: rgb(3, 8, 8);
	}
	.nav_toggle:checked ~ body > main {
		background: (0, 0, 0, 5);
		z-index: 5;
	}
	.headline {
		flex-direction: column;
		gap: 1rem;
	}

	.main_heading {
		width: 100%;
	}
	.main_heading > image > img {
		width: 100%;
		height: inherit;
	}
	.card_description {
		flex-direction: column;
		width: 100%;
		gap: 18px;
	}
	.card_description > h1 {
		width: 100%;
		line-height: 1;
	}
	.card_description > p {
		width: 100%;
		line-height: 2;
	}
	.card_description > p > a {
		width: 200px;
		margin-top: 10px;
	}
	.new_news {
		width: 90%;
	}
	.topnews {
		flex-direction: column;
		height: 100%;
		gap: 14px;
	}
	.topnews > div {
		width: 100%;
		height: 136px;
	}
	.topnews > div > p {
		width: 64%;
		flex-direction: column;
		justify-content: space-between;
	}
}
